DEBUG=True
DATABASE_URL=sqlite:///./zhijiao.db
USE_MOCK_DATA=False

# 九问平台配置
JIUWEN_API_BASE_URL=https://jiuwen.vivo.com.cn/v1
JIUWEN_API_KEY=app-A2fGstROcDyJ01yvZ87Q47IK
JIUWEN_AGENT_ID_DIAGNOSIS_QUESTIONS=app-H2P0u3dtCX5ri1GNYZE2lwjj
JIUWEN_AGENT_ID_DIAGNOSIS_REPORT=
JIUWEN_AGENT_ID_RESOURCE=app-L8zTpjnGgX6DZkZYAaMBpBS6
JIUWEN_AGENT_ID_ADJUSTMENT=app-mabOBZDb3LCc0HAlDvYa2LrK
JIUWEN_AGENT_ID_REPORT=app-fvRyAb4X2SiRx0j8yZ0xLxJH
JIUWEN_AGENT_ID_EXERCISE=app-A2fGstROcDyJ01yvZ87Q47IK

AI_REQUEST_TIMEOUT=180